<style>
  .email-content {
  padding: 15px;
  max-width: 700px;
  flex: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 21px;
}
</style>

<div class="email-content">
  <p>Olá {{name}}</p>
  <p>Parece que você solicitou uma troca de senha.</p>
  <p>Basta clicar no link abaixo para resetar sua senha.</p>
  <a href="{{link}}">Resetar senha</a>
  <p>Se não foi você, descarte este email e contate o suporte.</p>
  <strong>A equipe UrTimr agradece!</strong>
</div>
